@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
/* Masonry gallery styles */
.gridMsnr {
  width: 100vw;
}
.gridMsnr-item {
  margin-bottom: 41px;
}
.gridMsnr-w1 {
  width: 451px;
}
.gridMsnr-w2 {
  width: 452px;
}

.gridMsnr-h1 {
  height: 338px;
}
.gridMsnr-h2 {
  height: 452px;
}
.gridMsnr-h3 {
  height: 601px;
}
/* popup gallery */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000d0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.popup span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
.popup img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
/* animated offers styles */
.hide {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  transform: translateX(0);
}
.hide:nth-child(1) {
  transition-delay: 150ms;
}
.hide:nth-child(2) {
  transition-delay: 300ms;
}
.hide:nth-child(3) {
  transition-delay: 450ms;
}

/* underline for a with pseudoclass vector arrow */
.underlineAll::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -4px;
  width: 100%;
  background-color: #1b5b31;
}

.dropDown {
  position: relative;
  display: inline-block;
}
.dropDownContent {
  position: absolute;
  top: 0px;
  background: #fff;

  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}

.showDropDown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}
